
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:  "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Admin lte
@import '~admin-lte/dist/css/adminlte.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//Custom css
.sidebar-dark-primary {
  background-color: #111111 !important;
}

.sidebar a p {
  color: #f78800 !important;
}

.brand-text {
  font-size: 2.25rem;
  letter-spacing: 5px;
  color: #f78800 !important;
}

.main-header {
  background-color: #111111 !important;
  opacity: 0.7;
}

.main-header ul li a {
  color: #f78800 !important;
  opacity: 1 !important;
}

.container-bg-color {
  background-color: #d89838 !important;
}

.navbar {
  border: none !important;
}

.card-height {
  height: 250px;
}

.border-thick {
  border-width: 3px;
}

.custom-card-color {
  color: black;
}

.custom-card-color:hover {
  color: #f78800;
}

.custom-card-outline {
  border-top: 3px solid #f78800;
}

a.custom-card,
a.custom-card:hover {
  text-decoration: none;
}

.custom-link, .custom-link:hover {
  color: #f78800;
}

.custom-scrollable-table {
  max-height: 450px;
  overflow: scroll;
}

//.page-link,
//.page-link:hover {
//  color: #f78800;
//}
//
//.page-item.active .page-link {
//  background-color: #f78800;
//  border-color: #f78800;
//}
