@font-face {
    font-family: "steelfish";
    src: url("/fonts/steelfish/steelfis.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("/fonts/bebas/BebasNeue.otf");
}

.containerTop {
    width: 100%;
    height: 50%;
    /* border:2px solid #2a9055; */
}
.columnValue {
    min-height: 342px;
    min-width: 242px;
}

.brz_cardType {
    background-image: url("/img/cards/19/common.png");
}

.brz_overall {
    background-image: url('/img/cards/19/bronze_tag.png');
}

.brz_footer {
    background-image: url("/img/cards/19/bronze_footer.png");
}

.gld_cardType {
    background-image: url("/img/cards/19/common.png");
}

.gld_overall {
    background-image: url('/img/cards/19/gold_tag.png');
}

.gld_footer {
    background-image: url("/img/cards/19/gold_footer.png");
}

.slv_cardType {
    background-image: url("/img/cards/19/common.png");
}

.slv_overall {
    background-image: url('/img/cards/19/silver_tag.png');

}

.slv_footer {
    background-image: url("/img/cards/19/silver_footer.png");
}

.overall {
    height: 50%;
    width: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.teamName{

}
.footer {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 0;
    z-index: 10;
    background-position: center;
    left: 0;
    background-repeat: no-repeat;
}

.cardType {
    height: 100%;
    width: 100%;
    z-index: 5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.cardContainer {
    height: 342px;
    width: 242px;
    position: absolute;
    display: table;
}

.playerFaceNormalCard {
    width: 100%;
    height: 50%;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 18px;
    background-repeat: no-repeat;
    z-index: 10;
}

.overallText {
    position: absolute;
    font-family: 'steelfish';
    font-size: 4.3em;
    line-height: 1;
    color: #343434;
    font-weight: unset;
    z-index: 5;
    top: .58em;
    left: .35em;
    transform: scale(1, 1.2);

}

.type {
    /* border: 2px solid greenyellow; */
    position: absolute;
    left: .6em;
    color: #343434;
    text-transform: uppercase;
    font-weight: bold;
    top: .1em;
    letter-spacing: .04em;
    font-family: 'Bebas', 'Bebas Neue';
    opacity: .7;
    width: 3em;
    z-index: 3;
    text-align: center;
    font-size: 1.3em;
}

.overallContainer {
    width: 50%;
    height: 100%;
    /* border: greenyellow 2px solid; */
    position: absolute;
    z-index: 99;
}

.logoBackground {
    width: 100%;
    height: 50%;
    position: absolute;
    background-size: cover;
    opacity: .8;
    mix-blend-mode: overlay;
    background-position-y: 15%;
}

.playerInfoContainer {
    display: table;
    height: 50%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    /* border: 2px solid deepskyblue; */
    bottom: 0;
    z-index: 99;
}

.playerPosition {
    display: table-row;
    width: 100%;
    height: 10%;
    position: absolute;

}

.playerName {
    font-family: bebas;
    font-style: italic;
    display: table-row;
    /* border:2px solid blueviolet; */
    width: 100%;
    height: 30%;
    font-size: 1.8em;
    position: absolute;
    color: black;
    z-index: 99;
    top: 10%;
}

.teamNameContainer {
    width: 100%;
    height: 20%;
    color: darkblue;
    position: absolute;
    top: 40%;
    text-align: right;
}

.teamNameNormal {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: .5em;
    top: 38%;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    right: 9%;
}

.bottomContainer {
    display: table-row;
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    position: absolute;
    top: 60%;
}

.sgold_bottomContainer {
    display: table-row;
    /* border: 2px solid red; */
    height: 40%;
    width: 100%;
    position: absolute;
    top: 60%;
}

.logoPosition {
    position: absolute;
    left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    z-index: 99;
    bottom: 40%;

}

.statsContainer {
    position: absolute;
    right: 0;
    /* border: 2px solid greenyellow; */
    height: 100%;
    width: 68%;
}

.statsHeader {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.statsValues {
    position: absolute;
    text-align: right;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 800;
    transform: scale(1, 1.2);
    /* width: 100%; */
    /* border: 2px solid; */
    left: 50%;
    font-style: italic;
    top: 5px;
}

.statsTable {
    position: absolute;
    /* border: 2px solid greenyellow; */
    height: 100%;
    width: 100%;
    top: 25%;
    z-index: 9999;
}

.synergyHeader {
    height: 20%;
    width: 100%;
    /* border: 2px solid mediumvioletred; */
    text-align: center;
    color: black;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.playerNameMainContainer {
    left: 10%;
    position: absolute;
}

.playerTextContainer {
    left: 72%;
    position: absolute;
    font-family: Arial;
    color: black;
    font-size: .7em;
    top: 10%;
}

.synergyHeaderContainer {
    transform: rotate(-45deg);
    border: 3px solid #22af6e;
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.synergyHeaderText {
    position: absolute;
    transform: rotate(45deg);
    text-align: center;
    color: #22af6e;
    font-weight: bold;
    font-size: 12px;
}

.singleSynergy {
    width: 40%;
    height: 50%;
    position: absolute;
    left: 35%;
    top: 5px;
}

.synergyContainerTitle {
    position: absolute;
    left: 26%;
}

.sgold_cardType {
    background-image: url('/img/cards/19/sgold.png');
}

.sgold_Texture {
    background-image: url(/img/cards/19/sgold_texture.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;

}

.sgold_Tag {
    background-image: url("/img/cards/19/sgold_tag.png");
}

.sgold_TeamLogo {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

.sgold_TeamLogoContainer {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    z-index: 99;
    top: 13%;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    background-position-x: 40px;
}

.sgold_teamNameContainer {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 8px; */
    top: 40%;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    /* left: 68%; */
    width: 100%;
    height: 20%;
}

.sgold_teamName {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: .3em;
    top: 38%;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    left: 9%;
    /* border: 2px solid red; */
}

.sgold_statsContainer {
    position: absolute;
    left: 0;
    /* border: 2px solid greenyellow; */
    height: 100%;
    width: 100%;
}

.sgold_logoBackground {
    z-index: 9;
    background-position-y: 20%;
    opacity: .2;
}

.sgold_bottomContainer {
    top: 57%;
}

.primeTime {
    background-image: url('/img/cards/19/pt.png');
}

.primeTimeTag {
    background-image: url("/img/cards/19/pt_tag.png");
}

.primeTimeFirstName {
    font-size: 0.9em;
    padding-left: .25em;
    color: white;
}

.primeTimeLastName {
    font-size: 1.3em;
    color: white;
}

.primeTimeTag .type {
    color: #000;
    font-size: 1em;
    left: 1.2em;
}

.primeTimeTeamNameContainer {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    top: 38%;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    right: 11%;
}

.primeTimeOverall {

    font-size: 3.8em !important;
    top: 18% !important;
    left: .41em;
    transform: scale(.96, 1.31) !important;
}

.primeTimeLogoBackground {
    z-index: 5;
    opacity: .6;
}

.thanksGiving_cardtype {
    background-image: url('/img/cards/19/tg/tg.png');
}

.thanksGiving_tag {
    background-image: url('/img/cards/19/tg/tag.png');
}

.thanksGiving_overlay {
    background-image: url('/img/cards/19/tg/overlay.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.thanksGiving_HeadshotContainer {
    top: 1.015em !important;
}

.thanksGiving_OverallText {
    font-size: 3.8em !important;
    top: 35% !important;
    left: .475em;
    transform: scale(1, 1.18) !important;
    color: white !important;
}

.thanksGiving_topContainer {
    height: 60%;
}

.thanksGiving_bottomContainer {
    height: 45% !important;
}

.thanksGiving_playerNameMainContainer {
    left: 7% !important;
    top: 10% !important;
}

.thanksGiving_FirstName {
    font-size: 0.9em;
    padding-left: .25em;
}

.thanksGiving_LastName {
    font-size: 1.3em;
}

.synergyContainerTitle {
    text-align: center;
    width: 100%;
    left: 0%;
}

.statsContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.synergyHeader {
    text-align: center;
}

.synergyHeaderContainer {
    border: 1.8px solid #000000;
    width: 15px;
    height: 15px;
}

.synergyHeaderText {
    color: #000000;
    font-size: 8px;
    font-weight: 900;
}

.statsTable {
    top: 10%;
}

.statsValues {
    left: 40%;
    top: -3%;
}

.thanksGiving_logoPosition {
    top: 10%;
    right: 6%;
    left: unset;
    bottom: unset;
    width: 60px;
    height: 60px;
}

.thanksGiving_teamNameContainer {
    top: 46%
}

.thanksGiving_primeTimeTeamNameContainer {
    color: black;
}

.primeTimeSynergy {
    color: white;
}

.primeTimeSynergyValue {
    color: white;
}

.primeTimeSynergyHeaderContainer {
    border: 1.8px solid white !important;
}

.primeTimeSynergyHeader {
    color: white;
}

.primeTimeBottomContainer {
    height: 40%;
}

.primeTimeStatsTable {
    top: 17% !important;
    height: 80% !important;
}

.primeTimeLogoPosition {
    height: 48px;
    width: 48px;
    bottom: 25.5% !important;
}

.primeTimePosition {
    color: white;
}

.teamOfTheWeek_backgroundSilver {
    background-image: url("/img/cards/19/totw/totw_silver.png");
}

.teamOfTheWeek_tagSilver {
    background-image: url('/img/cards/19/totw/totw_silver_tag.png');
    z-index: 99;
}

.teamOfTheWeek_textSilver {
    background-image: url("/img/cards/19/totw/totw_silver_text.png");
}

.teamOfTheWeek_lineSilver {
    background-image: url("/img/cards/19/totw/totw_silver_line.png");
}

.teamOfTheWeek_footerSilver {
    background-image: url('/img/cards/19/totw/totw_silver_footer.png');
}

.teamOfTheWeekOverallContainer {
    height: 78% !important;
}

.teamOfTheWeek_OverallText {
    font-style: italic;
    left: 14%;
    top: 17%;
    font-size: 4.3em;
}

.teamOFtheWeek_OverallNumber {

}

.teamOfTheWeek_line {
    background-position-x: 1.3em;
}

.teamOfTheWeek_Degrees {
    transform: rotate(-15deg) !important;
}

.teamOfTheWeek_PlayerNameContainer {
    top: 26.8%;
    height: 10%;
}

.teamOfTheWeek_PlayerNameMainContainer {
    color: white;
    left: unset;
    position: absolute;
    right: 4%;
    font-size: .83em;
}

.teamOfTheWeek_PositionContainer {
    top: 15.4%;
}

.teamOfTheWeek_PositionText {
    color: white;
    left: 4.3em;
}

.teamOfTheWeek_TeamNameContainer {
    top: 38%;
    font-size: .78em;
}

.teamOfTheWeek_bottomContainer {
    height: 35% !important;
    top: 45%;

}

.teamOfTheWeek_LogoPosition {
    transform: rotate(15deg) !important;
    left: 1.8em;
    height: 47px;
    width: 47px;
}

.teamOfTheWeek_SynergyContainer {
    top: 25%;
    right: 0;
    height: 50%;
}

.teamOfTheWeek_SynergyHeader {
    right: 0;
    width: 60%;
    position: absolute;
    color: white;
}

.teamOfTheWeek_SingleSynergy {
    left: 66%;
    top: 1em;
}

.teamOfTheWeek_SingleSynergy .statsValues {
    color: white;
    font-size: 12px;
}

.teamOfTheWeek_SingleSynergy .synergyHeaderContainer {
    width: 14px;
    height: 14px;
    border: 1.5px solid white;
}

.teamOfTheWeek_SingleSynergyGold .synergyHeaderContainer {
    border: 1.5px solid #d8bf7c !important;;;
}

.teamOfTheWeek_SingleSynergy .synergyHeaderContainer .synergyHeaderText {
    color: white
}

.teamOfTheWeek_OverallTypeSilver {
    font-style: italic;
    left: 15%;
    top: 2.5%;
    font-size: .9em;
    color: silver;
}

.teamOfTheWeek_backgroundGold {
    background-image: url("/img/cards/19/totw/totw_gold.png");
}

.teamOfTheWeek_tagGold {
    background-image: url('/img/cards/19/totw/totw_gold_tag.png');
    z-index: 99;
}

.teamOfTheWeek_textGold {
    background-image: url("/img/cards/19/totw/totw_gold_text.png");
}

.teamOfTheWeek_lineGold {
    background-image: url("/img/cards/19/totw/totw_gold_line.png");
}

.teamOfTheWeek_footerGold {
    background-image: url('/img/cards/19/totw/totw_gold_footer.png');
}

.teamOfTheWeek_OverallTypeGold {
    color: goldenrod;
    font-style: italic;
    left: 15%;
    top: 2.5%;
    font-size: .9em;
}

.goldColor {
    color: #d8bf7c !important;
}

.alumni_backgroundColor {
    background-image: url("/img/cards/19/alumni-bg.jpg");
}

.alumni_overlay {
    background-image: url("/img/cards/19/alumni-overlay.png");
}

.alumni_playerPosition {
    z-index: 99;
    top: 12%;
    color: white !important;
    font-size: .75em;
}

.alumni_Headshots {
    background-position: unset;
    width: 100%;
    height: 46%;
    left: 0.6em;
    top: .55em;
    z-index: 5;

}

.alumni_OverallText {
    color: white;
    top: .15em;
    font-size: 5.5em;
    left: .2em;
}

.alumni_TeamNameContainer {
    top: 0;
}

.alumni_TeamNameText {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    font-style: italic;
    color: white;
    font-weight: 800;
    font-size: .6em;
    position: absolute;
    width: 100%;
    top: 10%;
}

.alumni_logoPosition {
    right: 6.4%;
    left: unset;
    width: 40px;
    height: 40px;
    bottom: 20%;
    filter: brightness(1.3) drop-shadow(0 1px 6px);
}

.alumni_PlayerNameContainer {
    width: 100%;
    left: unset;
    text-align: center;
    top: .3em;
    font-size: 1.1em;
}

.alumni_bottomContainer {
    height: 60%;
    top: 40%;
}

.alumni_statsTable {
    height: 80%;
    top: 30%;
}
.alumni_StatsContainer{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
}
.alumni_SynergyHeader{
    color: white;
    font-size: .7em;
}
.evolution_background{
    background-image: url('/img/cards/19/evo/evo.png');
}
.evolution_overlay{
    background-image: url('/img/cards/19/evo/overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.evolution_tag{
    background-image: url('/img/cards/19/evo/tag.png');
}
.evolution_logoBackground{
    opacity: .2;
}
.xmas_tag{
    background-image: url('/img/cards/19/xmas/tag.png');
}
.xmas_synergyContainer{

}


.xmas_synergyHeader{
    color: white;
}
.xmas_headShot{
    height: 48%;
    background-position-y: 4px;
    width: 100%;
}
.xmas_overallText{
    left: 25.4%;
    font-size: 3.9em;
    top: 28%;
    color: white;
    transform: scale(1, 1.2);
}
.xmas_overallType{
    top: 16%;
    left: 24%;
    color: white;
    font-size: .8em;
}
.xmas_teamNameContainer{
    top: 35%;
}
.xmas_logoPosition{
    right: 5.5%;
    left: unset;
    bottom: -40%;
    width: 58px;
    height: 58px;
}
.xmas_teamNameContainer .teamNameNormal{
    text-align: left;
    right: unset;
    left: 1em;
    font-size: 0.8em;
    top: .8em;
}
.xmas_playerNameContainer{
    top: 3%;
}
.xmas_playerNameMainContainer{
    left: 6%;
    color: white;
}
.xmas_synergyHeaderContainer {
    border: 1.8px solid white !important;
}

.xmas_synergyValue {
    color: white;
}
.xmas_synergyTextValue{
    color: white;
}
.xmas_logoBackground{
    z-index: 5;
    opacity: .3;
}

xmas-card .playerTextContainer{
    color: #717171;
}

.competitiveseasons_cardType{
    background-image:url('/img/cards/19/cs.png');
}
.competitiveseasons_tag{
    background-image: url('/img/cards/19/cs_tag.png');
}
.competitiveseasons_LogoBackground{
    z-index: 9;
    background-position-y: 15%;
    background-position-x: unset;
    opacity: .4;
    height: 63%;
}
.competitiveseasons_type{
    color:black !important;
}
.competitiveseasons_overallText{
    color:black !important;
    top: .45em;
    left: .35em;
    transform: scale(1.05, 1.2);
}
.competitiveseasons_playerTextContainer{
    color: white !important;
    top: 30%;
}
.competitiveseasons_playerNameMainContainer{
    color: white !important;
    left: 7.5%;
    line-height: 0.9;
}
.competitiveseasons_firstName{
    padding-left: 0.1em;
}
.competitiveseasons_lastName{
    font-size: 1.2em;
}
.competitiveseasons_primeTimeTeamNameContainer{
    color: black !important;
    font-size: .8em;
}
.competitiveseasons_logoPosition{
    position: absolute;
    left: 5%;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    z-index: 99;
}

.competitiveseasons_synergyHeader{
    color: white;
}

.competitiveseasons_synergyHeaderContainer{
    border: 1.8px solid white;
}

.competitiveseasons_synergyHeaderText{
    color: white;
}

.competitiveseasons_statsValues{
    color: white;
}

.gatorade_cardType {
    background-image: url("/img/cards/19/gat.png");
    z-index: 6;
}
.gatorade_overlay {
    background-image: url('/img/cards/19/gat_ol.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    mix-blend-mode: color-dodge;
}
.gatorade_playerFaceNormalCard{

}
.gatorade_overallText{
    color: white;
    top: .2em;
    left: .1em;
    font-size: 4.1em;
    font-style: italic;
}
.gatorade_playerPosition{
    height: 30%;
}
.gatorade_playerTextContainer{
    color: white;
    left: 5%;
    top: 75%;
    font-size: .5em;
}
.gatorade_primeTimeTeamNameContainer{
    font-size: .65em;
}
.gatorade_playerNameMainContainer{
    color: white !important;
    left: 7.5%;
    line-height: 0.9;
    top: unset;
}
.gatorade_firstName{
    font-size: 0.85em;
}
.gatorade_lastName{
    font-size: 1.2em;
    position: absolute;
    left: -5%;
}

.gatorade_synergyHeader{
    color: white;
}

.gatorade_synergyHeaderContainer{
    border: 1.8px solid white;
}

.gatorade_synergyHeaderText{
    color: white;
}

.gatorade_statsValues{
    color: white;
}

.milestone_cardType{
    background-image: url("/img/cards/19/ms/ms.png");
}
.milestone_tag{
    background-image: url("/img/cards/19/ms/tag.png");
    z-index: 7;
}
.milestone_logoBackground{
    opacity: .2;
    z-index: 6;
}
.milestone_playerFaceNormalCard{
    background-position: center;
    top: 3.6%;
    z-index: 8;
}
.milestone_flair{
    z-index: 7;
}
.milestone_type{
    color: #000;
    opacity: 0.8;
    left: .48em;
    top: .9em;
    font-weight: unset;
    font-size: 1.1em;
}
.milestone_overallText{
    color: #000;
    opacity: 0.9;
    font-size: 3.8em;
    top: .62em;
    left: .26em;
}
.milestone_playerTextContainer{
    color: #000;
    left: 73%;
    top: -930%;
}
.milestone_playerNameMainContainer{
    color: #C6AC67 !important;
    left: 7.5%;
    line-height: 0.9;
    top: 8%;
}
.milestone_firstName{

}
.milestone_lastName{

}
.milestone_primeTimeTeamNameContainer{
    color: #C6AC67 !important;
    right: unset !important;
    left: 7%;
    font-size: .75em;
    top: 42%;
}
.milestone_bottomContainer{
    height: 40%;
}
.milestone_logoPosition{
    left: 65%;
    bottom: 5%;
    height: 70px;
    width: 70px;
}

.milestone_synergyHeader{
    color: white;
}

.milestone_synergyHeaderContainer{
    border: 1.8px solid white;
}

.milestone_synergyHeaderText{
    color: white;
}

.milestone_statsValues{
    color: white;
}

.hutChampions_teamNameNormal {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    top: 38%;
    font-weight: 600;
    color: black;
    font-style: italic;
    right: 9%;
}

.hutChampions_synergyHeaderContainer {
    border: 1.8px solid white;
}

.gscsi{
    background-image: url(/img/cards/19/global/gscsi.png);
}

.gscsi_swipe{
    background-image: url(/img/cards/19/global/gscsi_swipe.png);
    z-index: 20;
}

.gscsi_type{
    color: #ccc;
    font-size: 1em;
    left: 20px;
    top: 7px;
}

.gscsi_overallText{
    color: white;
}

.gscsi_playerTextContainer{
    color: #ccc;
}

.gscsi_playerNameContainer{
    color: white;
}

.gscsi_synergyHeader{
    color: white;
}

.gscsi_synergyHeaderContainer{
    border: 1.8px solid white;
}

.gscsi_synergyHeaderText{
    color: white;
}

.gscsi_statsValues{
    color: white;
}

.gscsi_logoBackground{
    opacity: .2;
    mix-blend-mode: overlay;
}

.gscge{
    background-image: url(/img/cards/19/global/gscge.png);
}

.gscge_swipe{
    background-image: url(/img/cards/19/global/gscge_swipe.png);
    z-index: 20;
}

.gscge_overallText{
    color: #facd01;
}

.gscge_playerTextContainer{
    color: white;
}

.gscge_playerNameContainer{
    color: #facd01;
}

.gscfi{
    background-image: url(/img/cards/19/global/gscfi.png);
}

.gscfi_swipe{
    background-image: url(/img/cards/19/global/gscfi_swipe.png);
    z-index: 20;
}

.gscfi_overallText{
    color: white;
}

.gscfi_playerTextContainer{
    color: #43c7e7;
}

.gscfi_playerNameContainer{
    color: white;
}

.gscse{
    background-image: url(/img/cards/19/global/gscse.png);
}

.gscse_swipe{
    background-image: url(/img/cards/19/global/gscse_swipe.png);
    z-index: 20;
}

.gscse_overallText{
    color: #011e41;
}

.gscse_playerTextContainer{
    color: #004998;
}

.gscse_playerNameContainer{
    color: #011e41;
}

.gscse_type{
    color: #004998;
    font-size: 1em;
    left: 20px;
    top: 7px;
}

.halloween{
    background-image: url(/img/cards/19/hwn.png);
}

.halloween_overallText{
    top: 50;
    left: 20;
}

.halloween_playerTextContainer{
    color: white;
}

.halloween_playerNameContainer{
    color: white;
}

.halloween_type{
    top: 25px;
    font-size: .9em;
    left: 20px;
}

.halloween_synergyHeaderContainer{
    border: 1.8px solid white;
}

.halloween_synergyHeaderText{
    color: white;
}

.halloween_statsValues{
    color: white;
}

.hwn-team-text {
    color: white;
    position: absolute;
    right: 6%;
    font-family: Bebas;
    font-style: italic;
    font-size: 2.2em;
    opacity: .3;
    letter-spacing: .05em;
}

.singleSynergy {
    width: 25%;
    height: 50%;
    position: absolute;
    left: 45%;
    top: 10px;
}