#search-player{
    width: 60%;
    height: 5%;
    background-color: transparent;
    color: white;
    border-top: none !important;
    border-left: 0  !important;
    border-right: 0 !important;
}

.clicked-card{
    outline: 5px solid #F6EA9C;
}

/*START Side Menu*/
.ChosenSidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.ChosenSidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.ChosenSidenav a:hover{
    color: #f1f1f1;
}

.ChosenSidenav .closeChosenbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .ChosenSidenav {padding-top: 15px;}
    .ChosenSidenav a {font-size: 18px;}
}

.fixed
{
    position: fixed;
    top: 90px;
    z-index: 100;
    left: 5px;
}

#myChosenSidenav{
    background-color: rgba(0,0,0,0.9);
}
/*END Side Menu*/

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='columnValue'] {
    min-height: 380px;
    min-width: 200px;
    padding: unset;
}
.right{
    right: 25px !important;
    left: unset !important;
}
.nextButton{
    height: 50px;
    border: unset !important;
    border-radius: 100px;
    width: 130px;
}