.floating-container {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0px;
    z-index: 99;
}

.buttons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 64px;
    height: 64px;
    margin: 20px auto 0;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.buttons:active,
.buttons:focus,
.buttons:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14),
    0 4px 8px rgba(0, 0, 0, .28);
}

.buttons:not(:last-child) {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.floating-container:hover
.buttons:not(:last-child) {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
    background-image: url('/images/help.svg');
    background-size: contain;
    float: right;
}

.buttons:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
    background-image: url('https://cbwconline.com/IMG/Facebook-Flat.png');
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
    background-image: url('https://cbwconline.com/IMG/Twitter-Flat.png');
    background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 100ms;
    transition-delay: 60ms;
    background-image: url('https://cbwconline.com/IMG/Google%20Plus.svg');
    background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.support-container {
    height: 33em;
    width: 24em;
    display: none;
    background-color: #1c1c2d;
    border-radius: 10px;
    box-shadow: 5px 30px 30px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #F6EA9C;
}

.contact-label {
    width: 100%;
    text-align: center;
}

.contact-input {
    width: 100%;
}

.message {
    height: 200px;
}

#submit-message{
    border: unset !important;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    height: 40px;
    background-color: #F6EA9C !important;
    color: black;
    padding: 0;
}

#contact-email, #contact-name {
    background: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    border: 1px solid #F6EA9C !important;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

#contact-message {
    background: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    border: 1px solid #F6EA9C !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-success{
    background-color: #28a745 !important;
}

.list-unstyled{
    margin: 0;
}

.list-unstyled li{
    color: red;
}

