@font-face {
    font-family: "steelfish";
    src: url("/fonts/steelfish/steelfis.ttf");
}

body{
    background: #3d3d3d !important;
}

@font-face {
    font-family: 'bebas';
    src: url("/fonts/bebas/BebasNeue.otf");
}
.navbarUser{
    background-color: #000000;
}
.navBarHeader{
    width: 254px;
    height: 60px;
    color: #b48445;
    font-family: "Myriad Pro";
    font-size: 50px;
    font-weight: 300;
}
.userCoins{
    width: 100%;
    height: 39px;
    color: #ffffff;
    font-family: Steelfish;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
    padding: 13px;
}
.userCoinsContainer{
    width: 162px;
    height: 60px;
    float: right;
}
.userCoinsNavBar{
    /* Style for "CoinModel3" */
    width: 40px;
    height: 40px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.searchBarForm{
    float: left;
}
#searchInput{
    width: 100% !important;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
}
.tt-hint{
    width: 100% !important;
    border: unset !important;
}
.twitter-typeahead{
    width: 100%;
}
.marketPlaceTitle{
    font-weight: 400;
    color: #ffffff;
    font-family: Steelfish;
    font-size: 82px;
    font-style: italic;
    letter-spacing: 2.05px;
    text-transform: uppercase;
}
.backgroundImage{
    background-color: black !important;
}
.packDesign{
    background: #30303F !important;
    padding: unset;
}
.headerMarketplace{
    text-align: center;
    font-style: italic;
    font-size: 68px !important;
}
.container-fluid{

}
.card-header{
    font-family: Steelfish;
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
    height: 20%;
    text-align: left;
    padding: unset;
    width: 100%;
    background:unset;
    border-bottom: unset;
}
.card-header-text{
    padding-top: 19px;
    width: 90%;
    padding-left: 12px;
}
.card-body{
    padding: unset;
    -webkit-box-flex: 1;
}
.priceText{
    color: #ffffff;
    font-family: Steelfish;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
}
.select-button{
    width: 120px;
    height: 35px;
    border-radius: 4px;
}
.button-text{
    color: #000000;
    font-family: Steelfish !important;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.34px;
    line-height: 12px;
    text-transform: uppercase;
}
.footer{
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.packCoins{
    width: 30px;
    height: 30px;
}
.nav-item-col {
    color: #c8a15e !important;
}
#searchInput{
    width: 100% !important;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
}
.list-group-item {
    background-color: rgba(0,0,0, 0.9);
    color: white !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.tt-hint{
    background: rgba(0,0,0, 0.5) !important;
    color: white !important;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 13px 30px;
    z-index: 99;

}
.right-addon .glyphicon { right: 0px; color: white}
.right-addon input { padding-right: 30px; }
