.navbar, #footer {
    background: #20202A !important;
}
.dropdown-menu {
    background: #1C1C25 !important;
    border:1px solid #F6EA9C !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.dropdown-item {
    color: #F6EA9C;
}

.dropdown-item:hover {
    color: #F6EA9C;
    background:unset !important;
}
.dropdown-item {
    color: #F6EA9C;
}

.dropdown-item:hover {
    color: #F6EA9C;
    background:unset !important;
}
a:visited{
    color: #F6EA9C;
}