@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    background: url(../images/bg.png);
}

.blog-card {
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -175px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-img-top {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hutbd-pack-icons/x7.jpg.pagespeed.ic.8-NtslfRji.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.title-content {
    text-align: center;
    margin: 70px 0 0 0;
    z-index: 20;
    width: 100%;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: #D0BB57;
}

.intro {
    width: 170px;
    margin: 0 auto;
    color: #DCE3E7;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

.utility-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 20%;
    background: rgba(84, 104, 110, 0.4) !important;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

.utility-list {
    list-style-type: none;
    margin: 0 0 30px 20px;
    padding: 0;
    width: 100%;
    top: 50%;
}

.utility-list li {
    margin: 0 15px 0 0;
    padding: 0 0 0 22px;
    display: inline-block;
    color: #DCE3E7;
    font-family: 'Roboto', sans-serif;
}

.utility-list li.comments {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em;
}

.utility-list li.date {
    background: url(/images/CoinModel3.svg) no-repeat 0 0.1em;
    background-size: 24px 24px;
}

.coins {
    width: 24px;
    height: 24px;
}

.card {
    height: 50%;
    width: 18%;
    padding: 0;
    background-color: unset;
}

.priceText {
    color: white;
    top: 8;
    position: absolute;
    left: 40%;
}

.blog-card:hover .card-info {
    opacity: 1;
    bottom: 120px;
}

.blog-card:hover .color-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    height: 80%;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

.card-body {
    height: 20%;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

.buyDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-buy {
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0 0 25px 25px;
    box-shadow: none;
    color: white;

}

.btn-buy:focus {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #F39C12;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #F39C12;
    color: white;
}