@font-face {
    font-family: "steelfish";
    src: url("/fonts/steelfish/steelfis.ttf");
}
body{
    background: #3d3d3d !important;
}

@font-face {
    font-family: 'bebas';
    src: url("/fonts/bebas/BebasNeue.otf");
}
.navbar{
    background: #20202A !important;
}
.navBarHeader{
    width: 254px;
    height: 60px;
    color: #b48445;
    font-family: "Myriad Pro";
    font-size: 50px;
    font-weight: 300;
}
.userCoins{
    width: 100%;
    height: 39px;
    color: #ffffff;
    font-family: Steelfish;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
    padding: 13px;
}
.userCoinsContainer{
    width: 162px;
    height: 60px;
    float: right;
}
.userCoinsNavBar{
    /* Style for "CoinModel3" */
    width: 40px;
    height: 40px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.searchBarForm{
    float: left;
}
#searchInput{
    width: 100% !important;
    background: rgba(0,0,0, 0.5) !important;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
}
.tt-hint{
    width: 100% !important;
    border: unset !important;
}
.twitter-typeahead{
    width: 100%;
}
.marketPlaceTitle{
    font-size: 82px !important;
    font-weight: 400;
    height: 120px;
    color: #ffffff;
    font-family: Steelfish;
    font-size: 82px;
    font-style: italic;
    letter-spacing: 2.05px;
    text-transform: uppercase;
}
.backgroundImage{
    background: #363647 !important;
}
.displayContainer{
    margin-top: 2em !important;
}
.mainRow{
    border-radius: 10px;
    background: rgba(0,0,0, 0.5) !important;
}
.imageContainer{

    padding: 8px !important;
}
.headerDisplay{
    font-family: Steelfish;
    font-size: 75px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.packCoins{
    width: 45px;
    height: 45px;
}
.priceText{
    color: #ffffff;
    font-family: Steelfish;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
}
.col-6{
    padding: unset !important;
}
.button-text{
    color: #000000;
    font-family: Steelfish !important;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.34px;
    line-height: 12px;
    text-transform: uppercase;
}
.footer{
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}
#searchInput{
    width: 100% !important;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
    background: rgba(0,0,0, 0.5) !important;
}
.list-group-item {
    background-color: rgba(0,0,0, 0.9);
    color: white !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.tt-hint{
    background: rgba(0,0,0, 0.5) !important;
    color: white !important;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 13px 30px;
    z-index: 99;
    color: white;
}
.right-addon .glyphicon { right: 0px;}
.right-addon input { padding-right: 30px; }


