@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    background: url(../images/bg.png) repeat;
    color: white;
}

.values {
    font-style: italic;
}

.img {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.coins {
    width: 24px;
    height: 24px;
}

.btn-buy {
    margin-right: 8%;
    right: 0;
    color: white;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    border: none !important;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 350px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.value {
    width: 20%;
    float: left;
    padding: 20px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #000000;
}

.dropdown-item:hover {
    color: orange;
    background-color: transparent;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='columnValue'] {
    min-height: 380px;
    min-width: 200px;
    padding: unset;
}