@font-face {
    font-family: "steelfish";
    src: url("/fonts/steelfish/steelfis.ttf");
}

body{
    position: relative; background: #202033 !important;
}
@font-face {
    font-family: 'bebas';
    src: url("/fonts/bebas/BebasNeue.otf");
}
@media (min-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

.userCoins{
    width: 100%;
    height: 39px;
    color: #ffffff;
    font-family: Steelfish;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 12px;
    padding: 13px;
}
.userCoinsContainer{
    width: 162px;
    height: 60px;
    float: right;
}
.userCoinsNavBar{
    /* Style for "CoinModel3" */
    width: 40px;
    height: 40px;
}
#searchInput{
    height: 51px;
    width: 100% !important;
    padding-left: 10px;
    background-color: white !important;
}
.paymentTitle{
    font-family: Steelfish;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}
.paymentMethod{
    font-family: Steelfish;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}
.coinsList{
    margin-bottom: 75px
}

.buyCoinsContainer{
    height: 260px;
    width: 200px;
    border: 1px solid white;
    background: #202020;
    border-radius: 25px;
    font-family: Steelfish;
    -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
}

.buyCoinsTop{
    height: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buyCoinsImage{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.buyCoinsBottom{
    height: 50%;
    padding-bottom: 20px;
}

.buyCoinsPoints{
    height: 33.33%;
    font-size: 28px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyCoinsPrice{
    height: 33.33%;
    font-size: 28px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyCoinsBtns{
    height: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.purchaseButton{
    font-family: Steelfish;
    font-style: italic;
    font-size: 19px;
    width: 150px;
    border-radius: 100px;
    height: 25px;
    min-height: 25px;
    max-height: 55px;
    padding: unset;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
    background-color: #ff005b;
    color: white;
    border: unset !important;
    outline: none !important;
}
.coinsListFirst{
     margin-bottom: unset;
}
.purchaseButton:hover{
    background-color: #ff005b;
    border:unset !important;
    outline: unset !important;
}
.purchaseButton:focus{
    outline: none !important;
    -webkit-box-shadow:  unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}
